@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --main-color: #42b983;
  --main-color-dark: #128652;
}

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
}

body {
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.extrabold {
  font-weight: 800 !important;
}
.bold {
  font-weight: 700;
}
.semibold {
  font-weight: 600;
}
.regular {
  font-weight: 400;
}
.light {
  font-weight: 300;
}

input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  background: white;
}
input,
input::placeholder {
  font-size: 16px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}
input:focus {
  border: 1px solid var(--main-color);
}
